<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Web Page</title>
</head>
<body>
    <h1>Welcome to my webpage</h1>
    <%= image_tag("luca-bravo-217276-unsplash.jpg", alt: "code on a laptop", size: "128")  %>
    <p>This is my webpage to display my HTML building skills</p>
    <br>
    <br>
    <br>
    <%= link_to 'About', about_path %>
    <br>
    <br>
    <br>
    <footer>
        <p>Created by: Derek Baker</p>
        <p>Contact information: <a href="mailto:someone@example.com">
        someone@example.com</a>.</p>
    </footer>
</body>
</html>